*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#020617;
position:fixed;
width:100%;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-left:25px;
}

.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#38bdf8;
}


/* HERO */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#38bdf8;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
border:none;
cursor:pointer;
font-weight:bold;
}

.btn:hover{
transform:scale(1.1);
}


/* PROJECTS */

.projects{
padding:100px 10%;
text-align:center;
}

.project-container{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
flex-wrap:wrap;
}

.project-card{
background:#1e293b;
padding:30px;
width:250px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
background:#334155;
}


/* CONTACT */

.contact{
padding:100px 10%;
text-align:center;
}


/* ABOUT PAGE */

.about-page{
padding:150px 10%;
}

.about-container{
display:flex;
gap:50px;
align-items:center;
flex-wrap:wrap;
}

.profile-img{
width:250px;
border-radius:50%;
border:5px solid #38bdf8;
}

.skills{
margin-top:20px;
display:flex;
gap:15px;
list-style:none;
flex-wrap:wrap;
}

.skills li{
background:#1e293b;
padding:8px 15px;
border-radius:5px;
}


/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:50px;
}